// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body
{
    font-size: 1.2rem;
}

.content-block
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.content-block .cb-header
{
    padding: 10px 10px 10px 20px;
    background-color: #333;
    margin-bottom: 10px;
    cursor: move;
}

.content-block .cb-header .cb-title
{
    line-height: 30px;
    font-size: 20px;
    color: #fff;
}

.content-block .image-preview img
{
    margin-bottom: 10px;
    width: 100%;
}

.full-width-image-container
{
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-75pc-width-image-container
{
    height: 75vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}